@use "./light.scss" as *;
@use "./dark.scss" as *;

html.rounded {
  .vxe-table--render-default.border--default .vxe-table--header-wrapper,
  .vxe-table--render-default.border--full .vxe-table--header-wrapper,
  .vxe-table--render-default.border--outer .vxe-table--header-wrapper {
    background-color: var(--el-fill-color-lighter) !important;
    border-top-left-radius: var(--el-border-radius-base);
    border-top-right-radius: var(--el-border-radius-base);
  }
}

.vxe-table--render-default .vxe-table--border-line {
  border: none !important;
}

// 给表头加一个竖线
.vxe-table--render-wrapper > .vxe-table--main-wrapper > .vxe-table--header-wrapper.body--wrapper > table > thead > tr > th.vxe-header--column {
  &::after {
    position: absolute;
    top: 50%;
    right: 0;
    width: 0;
    height: 20px;
    margin-top: -10px;
    content: "";
    border-right: 1px solid var(--el-border-color);
  }

  &.col--last::after {
    display: none;
  }
}

// 调整一下vxe的表头高度，与element一致
.vxe-table--render-default .vxe-body--column:not(.col--ellipsis),
.vxe-table--render-default .vxe-footer--column:not(.col--ellipsis),
.vxe-table--render-default .vxe-header--column:not(.col--ellipsis) {
  padding: 8px 0 !important;
}
